<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/memo-main.css">

    <script src="external/bcrypt.js"></script>
    <script src="js/memo-ui-main.js" type='module'></script>
</head>
<body>
    
    <!-- Splash screen -->
    <section class='memo-screen screen-active' id='memo-splash-screen'>
        <section id='memos-title-section'>
            <h1 id='memos-main-title'>Obscure Notes</h1>
            <p id='memos-main-subtitle'>Anonymous storage of memos and ideas.</p>
        </section>

        <section id='memos-start-section'>
            <p>Get started by entering a secret password</p>
            <!-- TODO: Make this input auto resize -->
            <!-- Autoresizing idea: https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize-->
            <input type="text" id="memos-start-key-input" placeholder="Key">
            <button id="memos-start-btn" type="button" class="memos-btn">Get Started</button>
        </section>

        <!-- Background animation, for aesthetic purposes. -->
        <section id='memos-bg-animation'>
            <div class='memos-box memos-bg-box' id='memos-bg-box-0'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-1'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-2'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-3'>
                <span class='memos-bg-box-text'></span>
            </div>
        </section>
    </section>

    <!-- Main application screen -->
    <section class='memo-screen screen-inactive' id='memo-application-screen'>
        <button type='button' class='memos-btn memo-back-btn' id='memos-return-btn'>
            <div class='drawing-back-arrow'></div>
        </button>

        <button type='button' class='memos-btn memo-add-btn' id='memo-main-add-btn'>
            <div class='drawing-plus'></div>
        </button>

        <!-- Template for creating new memo boxes -->
        <div class='memos-box' id='memos-box-template'>
            <button type='button' class='memos-btn memo-delete-btn'>
                <div class='drawing-x'></div>
            </button>

            <div class='memo-input-container'>
                <textarea name="memo-input-01" id="memo-input-xx"
                    class='memo-input' cols="30" rows="10"></textarea>
                
                <div class='memo-scrollbar scrollbar-active'>
                    <div class='drawing-scrollbar-top memo-scrollbar-component'></div>
                    <div class='drawing-scrollbar-middle memo-scrollbar-component'></div>
                    <div class='drawing-scrollbar-bottom memo-scrollbar-component'></div>
                </div>
            </div>
        </div>

        <!-- This is where we're gonna toss actual memo boxes -->
        <section id='memo-main-box-container'>

        </section>

    </section>
    
    
</body>
</html>