<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obscure Notes</title>

    <link rel="stylesheet" href="css/memo-main.css">

    <script src="external/bcrypt.js"></script>
    <script src="js/memo-ui-main.js" type='module'></script>
</head>
<body>
    
    <!-- Splash screen -->
    <section class='memo-screen screen-active' id='memo-splash-screen'>
        <section id='memos-title-section'>
            <h1 id='memos-main-title'>Obscure Notes</h1>
            <p id='memos-main-subtitle'>Anonymous storage of memos and ideas.</p>
        </section>

        <section id='memos-start-section'>
            <p>Get started by entering a secret password</p>
            <!-- TODO: Make this input auto resize -->
            <!-- Autoresizing idea: https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize-->
            <input type="text" id="memos-start-key-input" placeholder="Key">
            <button id="memos-start-btn" type="button" class="memos-btn">Get Started</button>
        </section>

        <button id="memos-about-btn" type="button" class="memos-btn">About</button>

        <!-- Background animation, for aesthetic purposes. -->
        <section id='memos-bg-animation'>
            <div class='memos-box memos-bg-box' id='memos-bg-box-0'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-1'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-2'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-3'>
                <span class='memos-bg-box-text'></span>
            </div>
        </section>
    </section>

    <!-- Main application screen -->
    <section class='memo-screen screen-inactive' id='memo-application-screen'>
        <button type='button' class='memos-btn memo-back-btn' id='memos-app-return-btn'>
            <div class='drawing-back-arrow'></div>
        </button>

        <button type='button' class='memos-btn memo-add-btn' id='memo-main-add-btn'>
            <div class='drawing-plus'></div>
        </button>

        <div id='memo-application-error' class='error-inactive'>
            <div class='memo-lock-container'>
                <!-- <div class='drawing-lock-top'></div>
                <div class='drawing-lock-bottom'></div> -->
                <div class='drawing-x'></div>
            </div>
            <p class='memo-error-text'>
                Obscure Notes encountered an error retrieving memos for this
                key. Please go back and select a different key.
            </p>
        </div>

        <!-- Template for creating new memo boxes -->
        <div class='memos-box' id='memos-box-template'>
            <button type='button' class='memos-btn memo-delete-btn'>
                <div class='drawing-x'></div>
            </button>

            <div class='memo-input-container'>
                <textarea name="memo-input-01" id="memo-input-xx"
                    class='memo-input' cols="30" rows="10"></textarea>
                
                <div class='memo-scrollbar scrollbar-active'>
                    <div class='drawing-scrollbar-top memo-scrollbar-component'></div>
                    <div class='drawing-scrollbar-middle memo-scrollbar-component'></div>
                    <div class='drawing-scrollbar-bottom memo-scrollbar-component'></div>
                </div>
            </div>
        </div>

        <!-- This is where we're gonna toss actual memo boxes -->
        <section id='memo-main-box-container'>

        </section>

    </section>

    <!-- About screen to provide info on the project -->
    <section class='memo-screen screen-inactive' id='memo-about-screen'>
        <button type='button' class='memos-btn memo-back-btn' id='memos-about-return-btn'>
            <div class='drawing-back-arrow'></div>
        </button>
    
        <h1 id='memo-about-title'>About</h1>

        <section id='memo-about-content'>

            <section id='memo-about-project' class='memo-about-section memo-about-section-odd'>
                <h2>What is Obscure Notes?</h2>
                <p>
                    A quick way to share links or jot ideas down. I got tired of
                    emailing links back and forth between my work and personal email,
                    so I thought it would be fun to implement my own solution.

                    This iteration is a beta release of Obscure Notes. It's a bit rough around
                    the edges for certain aspects, like the scrollbar. I will add a roadmap
                    for features and changes planned for the project.
                </p>
            </section>
            
            <section id='memo-about-how' class='memo-about-section memo-about-section-even'>
                <h2>How does Obscure Notes work?</h2>
                <p>
                    You enter a key phrase to get started and are taken to a page assigned to
                    that key. Any memos you write here can be found again by using this key,
                    and you can share memos by sharing the key. However,
                    anyone with the key can modify the memos on that page, so only
                    give the key to people you trust. There is no protection for your memos
                    once someone knows the key, they are private through obscurity.

                    Obscure Notes is anonymous, and encrypts text before sending it to
                    the server. Anonymity and encryption are features that I chose to design
                    as a challenge.
                </p>
            </section>
            
            <section id='memo-about-credit' class='memo-about-section memo-about-section-odd'>
                <h2>Credit</h2>

                <p>
                    Obscure Notes uses some third party software
                </p>
                <ul class='memo-dependency-list'>
                    <li>NestJS (server application)</li>
                    <li>MongoDB</li>
                    <li>Bcrypt Javascript implementation, by dcodeIO</li>
                </ul>
            </section>
            
            <section id='memo-about-contact' class='memo-about-section memo-about-section-even'>
                <h2>Contact</h2>
                <p>
                    I may add my own details here later, but for now I'm just trying
                    to get the first iteration of Obscure Notes deployed!
                </p>
            </section>
            
        </section>
    </section>
    
    
</body>
</html>