<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/memo-main.css">
    <script src="/js/test.js"></script>
</head>
<body>
    
    <!-- Splash screen -->
    <section class='memo-screen screen-inactive' id='memo-splash-screen'>
        <section id='memos-title'>
            <h1>Obscure Notes</h1>
            <p class='main-subtitle'>Anonymous storage of memos and ideas.</p>
        </section>

        <section id='memos-start'>
            <p>Get started by entering a secret password</p>
            <!-- TODO: Make this input auto resize -->
            <!-- Autoresizing idea: https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize-->
            <input type="text" id="memos-keyphrase-input" placeholder="Key">
            <button id="key-submit-btn" type="button" class="memos-btn">Get Started</button>
        </section>

        <!-- Background animation, for aesthetic purposes. -->
        <section id='memos-bg-animation'>
            <div class='memos-box memos-bg-box' id='memos-bg-box-0'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-1'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-2'>
                <span class='memos-bg-box-text'></span>
            </div>

            <div class='memos-box memos-bg-box' id='memos-bg-box-3'>
                <span class='memos-bg-box-text'></span>
            </div>
        </section>
    </section>

    <!-- Main application screen -->
    <section class='memo-screen screen-active' id='memo-application-screen'>
        <button type='button' class='memos-btn memo-back-btn' id='return-btn'>
            <div class='back-arrow'></div>
        </button>

        <button type='button' class='memos-btn' id='add-btn'>
            Add (not implemented yet)
        </button>

        <div class='memos-box'>
            <div class='memo-input-container'>
                <textarea name="memo-input-01" id="memo-input-01"
                    class='memo-input' cols="30" rows="10"></textarea>
            </div>
        </div>
    </section>
    
    
</body>
</html>