<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="external/bcrypt.js"></script>
    <script src="notes-main.js"></script>

    <title>Document</title>
</head>
<body>
    <h2>Encrypt Key</h2>

    <label for="key">
        Key
        <input type="text" name="key" id="key-input">
        <button type="button" id="key-submit-btn">Submit</button>
    </label>

    <h2>Result</h2>
    <p>Salt: <span id="salt-result"></span></p>
    <p>Hashed key <span id="hash-result"></span></p>
    <p>Encrypted key: <span id="encrypt-result"></span></p>

</body>
</html>