<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="external/bcrypt.js"></script>
    <script type="module" src="notes-main.js"></script>

    <title>Document</title>
</head>
<body>
    <h2>Encrypt Key</h2>

    <label for="key">
        Key
        <input type="text" name="key" id="key-input">
    </label>

    <label for="new-memo">
        New memo
        <input type="text" name="new-memo" id="new-memo-input">
    </label>

    <button type="button" id="key-submit-btn">Submit</button>

    <h2>Encrypt Results</h2>
    <p>Salt: <span id="salt-result"></span></p>
    <p>Hashed key <span id="hash-result"></span></p>
    <p>Encrypted key: <span id="encrypt-key-result"></span></p>
    <p>Initialization vector: <span id="iv-result"></span></p>
    <p>Encrypted note: <span id="encrypt-note-result"></span></p>

    <h2>Memos</h2>
    <section id="notes-section">
        <button type="button" id="get-notes-btn">Get Notes</button>

        <div class="notes-container" id="notes-container-01">
            <input class="notes-input" id="notes-input-01" name="notes-input-01"></p>
        </div>
    </section>



</body>
</html>