
/**********************/
/*** CSS animations ***/
/**********************/

@import './memo-text-animation.css';

/* Scroll down effect for bg boxes */
@keyframes scroll-loop{
    from{
        top: -30vh;
    }

    to{
        top: 120vh;
    }
}

/* Animate splash screen going up offscreen */
@keyframes screen-splash-up{
    from{
        top: 0vh;
        left: 0vw;
        opacity: 1;
    }

    to{
        top: -130vh;
        left: 0vw;
        opacity: 0;
    }
}

/* Animate splash screen going left offscreen */
@keyframes screen-splash-left{
    from{
        left: 0vw;
        top: 0vh;
        opacity: 1;
    }

    to{
        left: -130vw;
        top: 0vh;
        opacity: 0;
    }
}

/* Animate splash screen going right offscreen */
@keyframes screen-splash-right{
    from{
        left: 0vw;
        top: 0vh;
        opacity: 1;
    }

    to{
        left: 130vw;
        top: 0vh;
        opacity: 0;
    }
}

/* Animate app screen going left into screen view */
@keyframes screen-app-enter{
    from{
        left: 130vw;
        top: 0vh;
        opacity: 0;
    }

    to{
        left: 0vw;
        top: 0vh;
        opacity: 1;
    }
}

/* Animate app screen going up into screen view */
@keyframes screen-about-enter{
    from{
        top: 130vh;
        left: 0vw;
        opacity: 0;
    }

    to{
        top: 0vh;
        left: 0vw;
        opacity: 1;
    }
}

/* Animate changelog screen going right into screen view */
@keyframes screen-changelog-enter{
    from{
        left: -130vw;
        top: 0vh;
        opacity: 0;
    }

    to{
        left: 0vw;
        top: 0vh;
        opacity: 1;
    }
}