
:root {
    /* "Oxford blue" */
    --main-bg-color: #010728;

    /* "Persian Indigo" */
    --memo-box-color: #330A85;

    /* "Princeton Orange" */
    /* --main-text-color: #FA8334; */
    --main-text-color: #EE028B;
    --main-text-color-light: #ee028ca2;

    /* "Turquoise Green" */
    --memo-text-color: #AFE3C0;

    --memo-button-color: #7F95D1;
  }

body{
    overflow: hidden;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    text-align: center;

    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}

/* Simple container to center main page content */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

#memos-start{
    
}

/* Title */
h1{
    font-size: 5rem;
    font-weight: 350;
    margin-bottom: 10px;
}

.main-subtitle{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--main-text-color-light);
    margin-top: 10px;
}

.memos-btn{
    /* Remove default browser styling */
    appearance: none;

    font-size: 20px;
    padding: 15px 35px;
    display: block;
    /* background-color: var(--memo-button-color);
    color: var(--main-text-color-light); */

    background-color: var(--memo-box-color);
    color: var(--memo-text-color);
    font-family: inherit;
    border: 1px solid;
    margin: 10px auto 10px auto;
}

.memos-btn:active {
    transform: scale(0.99);
}

#memos-keyphrase-input{
    /* Remove default browser styling */
    appearance: none;

    box-shadow: none;
    text-align: center;
    color: var(--memo-text-color);
    background: linear-gradient(0deg, var(--memo-box-color), transparent, transparent, transparent);
    border: none;
    outline: none;
}

#memos-keyphrase-input:focus{
    appearance: none;
    border: none;
    outline: none;
}


/* Background animation styling */
.memos-bg-box{

    width: 200px;
    height: 150px;
    padding: 15px;

    background-color: var(--memo-box-color);
    border-radius: 25% 10%;
    color: var(--memo-text-color);
    opacity: 50%;

    position: absolute;
    z-index: -3;

    animation-duration: 8s;
    animation-name: scroll-loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-delay: 0s;
}

.memos-bg-box-text::before{
    content: "";
    margin: 10px;
    overflow-wrap: anywhere;

    animation: populate-text infinite 8s;
}

@keyframes scroll-loop{
    from{
        top: -30vh;
    }

    to{
        top: 120vh;
    }
}

@keyframes populate-text{
    0%{content:"";}
    1%{content:"*";}
    2%{content:"**";}
    3%{content:"***";}
    4%{content:"****";}
    5%{content:"*****";}
    6%{content:"******";}
    7%{content:"*******";}
    8%{content:"********";}
    9%{content:"*********";}
    10%{content:"**********";}
    11%{content:"***********";}
    12%{content:"************";}
    13%{content:"*************";}
    14%{content:"**************";}
    15%{content:"***************";}
    16%{content:"****************";}
    17%{content:"*****************";}
    18%{content:"******************";}
    19%{content:"*******************";}
    20%{content:"********************";}
    21%{content:"*********************";}
    22%{content:"**********************";}
    23%{content:"***********************";}
    24%{content:"************************";}
    25%{content:"*************************";}
    26%{content:"**************************";}
    27%{content:"***************************";}
    28%{content:"****************************";}
    29%{content:"*****************************";}
    30%{content:"******************************";}
    31%{content:"*******************************";}
    32%{content:"********************************";}
    33%{content:"*********************************";}
    34%{content:"**********************************";}
    35%{content:"***********************************";}
    36%{content:"************************************";}
    37%{content:"*************************************";}
    38%{content:"**************************************";}
    39%{content:"***************************************";}
    40%{content:"****************************************";}
    41%{content:"*****************************************";}
    42%{content:"******************************************";}
    43%{content:"*******************************************";}
    44%{content:"********************************************";}
    45%{content:"*********************************************";}
    46%{content:"**********************************************";}
    47%{content:"***********************************************";}
    48%{content:"************************************************";}
    49%{content:"*************************************************";}
    50%{content:"**************************************************";}
    51%{content:"***************************************************";}
    52%{content:"****************************************************";}
    53%{content:"*****************************************************";}
    54%{content:"******************************************************";}
    55%{content:"*******************************************************";}
    56%{content:"********************************************************";}
    57%{content:"*********************************************************";}
    58%{content:"**********************************************************";}
    59%{content:"***********************************************************";}
    60%{content:"************************************************************";}
    61%{content:"*************************************************************";}
    62%{content:"**************************************************************";}
    63%{content:"***************************************************************";}
    64%{content:"****************************************************************";}
    65%{content:"*****************************************************************";}
    66%{content:"******************************************************************";}
    67%{content:"*******************************************************************";}
    68%{content:"********************************************************************";}
    69%{content:"*********************************************************************";}
    70%{content:"**********************************************************************";}
    71%{content:"***********************************************************************";}
    72%{content:"************************************************************************";}
    73%{content:"*************************************************************************";}
    74%{content:"**************************************************************************";}
    75%{content:"***************************************************************************";}
    76%{content:"****************************************************************************";}
    77%{content:"*****************************************************************************";}
    78%{content:"******************************************************************************";}
    79%{content:"*******************************************************************************";}
    80%{content:"********************************************************************************";}
    81%{content:"*********************************************************************************";}
    82%{content:"**********************************************************************************";}
    83%{content:"***********************************************************************************";}
    84%{content:"************************************************************************************";}
    85%{content:"*************************************************************************************";}
    86%{content:"**************************************************************************************";}
    87%{content:"***************************************************************************************";}
    88%{content:"****************************************************************************************";}
    89%{content:"*****************************************************************************************";}
    90%{content:"******************************************************************************************";}
    91%{content:"*******************************************************************************************";}
    92%{content:"********************************************************************************************";}
    93%{content:"*********************************************************************************************";}
    94%{content:"**********************************************************************************************";}
    95%{content:"***********************************************************************************************";}
    96%{content:"************************************************************************************************";}
    97%{content:"*************************************************************************************************";}
    98%{content:"**************************************************************************************************";}
    99%{content:"***************************************************************************************************";}
    100%{content:"****************************************************************************************************";}
}